
*{
    font-family: "Liberation sans";
}

.btn{
    background-color: blue;
    border: none;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 1px 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    font-weight: 600
    ;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-center{
    width: 90vw;
    max-width: 1120px;
   
}
.nav-header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-self: center;
    align-items: center;
}
.nav-btn{
    padding: 0.15rem 0.75rem;
    font-size: 1.25rem;
}

.nav-links{
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}
.show-links{
    height: 255px;
}

.nav-link{
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: rgb(22, 66, 105);
    letter-spacing: 2px;
    padding: 1rem 0 ;
    border-top: 1px solid red;
    transition:0.3s ease;
}

.nav-link:hover{
    color: blue;
}
.contact-link a{
    padding: 0.15rem 1rem;
}

@media screen and (min-width:992px){
    .nav-btn{
        display: none;
    }
    .nav-bar{
        height: 6rem;
    }
    .nav-center{display: flex;
    align-items: center;
    }
    .nav-header{
        height: auto;
        margin: 2rem;
    }
    .nav-links{
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .nav-link{
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .contact-link{
        margin-left: auto;
        margin-right: 0;
    }
}

.page{
    width: 90vw;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh - (6rem + 4rem));
}
.page-footer{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.page-footer p{
    margin-bottom: 0;
}
.footer-logo, .page-footer a{
    color: blue;
}

.hero{
    height: 40vh;
    background: url(https://github.com/Anonym-us-code/D3F4ULT/blob/main/images/2023-10-06%2018_02_29-Greenshot.png?raw=true);
    margin-bottom: 2rem;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}
.hero-container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0, 0, 0.4) ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-text{
    text-align: center;
    color: white;
    font-weight: 500;
}
@media screen and (min-width:768px){
    .hero-text h1{
        font-size: 4rem;
        margin-bottom: 0;
    }

}

/*recipes*/
.recipes-container{
    display: flex;
   column-gap: 20px;
   justify-content: space-evenly;
  

}
.tags-container{
    
    order: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    margin-top: 0;
    height: fit-content;
    margin-right: auto;
}
.tags-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.recipes-list{
    display: flex;
    margin-right: auto;
    padding-bottom: 3rem;
   
    column-gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tags-container h4{
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.tags-list a{
    text-transform: capitalize;
    display: block;
    color: grey;
    transition: 0.3s ease;
}
.tags-list a:hover{
    color: blue;
}
.recipe{
    display: block;
}
.recipe .recipe-img{
    height: 15rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 400px;
    object-fit: cover;
}
.recipe h5{
    margin-bottom: 0;
    line-height: 1px;
    color: gray;
}
.recipe p{
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: grey;
    letter-spacing: 1px;
}
@media screen and(min-width:576px) {
    .recipes-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipe-img{
        height: 10rem;
    }
}
 
@media screen and(min-width:992px) {
    
}

@media screen and(min-width:1200px) {
    
}

.error-page{
    text-align: center;

    padding-top: 5rem;
}
.temp .header4{
    background-color: blue;
    width: fit-content;
    padding: 5px 20px;
    margin: 10px auto;
    color: white;
    border-radius:3px;
}



